<!DOCTYPE html>
<!--모바일용 화면-->
<meta name = "viewport" content="wid=device-width, 
								 initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<html>
	<head>
		
		
		<link rel="stylesheet" href="style.css">
	</head>
	<body>

		<div class="container">
			<div class="item_5">
				
					<button type='button' class="btn">
					<a href="makeRoom/">
						방 새로 만들기
					</a>				
					</button>
                    
                    <button type='button' class="btn">
                        <a href="enterRoom_1/">
                            1번 방
                        </a>				
                    </button>
					<button type='button' class="btn">
                        <a href="enterRoom_2/">
                            2번 방
                        </a>				
                    </button>
					<button type='button' class="btn">
                        <a href="enterRoom_3/">
                            3번 방
                        </a>				
                    </button>
					
			</div>			
		</div>
	</body>
</html>