<!DOCTYPE html>
<!--모바일용 화면-->
<meta name = "viewport" content="wid=device-width, 
								 initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<html>
	<head>
		<link href="/css/style.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div class="container" style="background-color:#ffffff;">
		  	<div class="title">
    			<a>Prototype</a>
 			 </div>
			<div class="item_5">
				<div>
					<button type='button' class="button_style">
						<a href="makeRoom/">
							방 새로 만들기
						</a>				
						</button>
							
				</div>
				<div>
					<button type='button' class="button_style">
						<a href="enterRoom_1/">
								1번 방
						</a>				
					</button>
				</div>
				<div>
					<button type='button' class="button_style">
						<a href="enterRoom_2/">
								2번 방
						</a>				
					</button>
				</div>
				<div>
					<button type='button' class="button_style">
						<a href="enterRoom_3/">
									3번 방
						</a>				
					</button>
				</div>
				
                    
			</div>			
		</div>
	</body>
</html>