<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script>
        const ROOM_ID = "<%= roomId %>" // actually be string ""
                                        // roomId value if on server.js (Back)
    </script>
<!-- PEER JS -->
    <script defer src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
<!-- loading all of the socket.io js code into our frontend  -->
    <script src="/socket.io/socket.io.js" defer></script>
<!-- set up the custom code  -->
    <script src="script.js" defer> </script> 
    <title>Document</title>
</head>
<body>
    <div class = "main">
        <div class = "left">
          <div class = "box" id="left_up"></div>
          <div class = "box" id="left_down"></div>
        </div>
        <div class = "right">
          <div class = "box" id="right_up"></div>
          <div class = "box" id="right_down"></div>
        </div>
    </div>
</body>
<style>
html, body {
    width: 99%;
    height: 99%;
}
.main{
    width: 100%;
    height: 100%;
}
.left
{
    width: 49%;
    height: 100%;
    float: left;
    margin-left: 0.5%;
}
.right
{
      width: 49%;
      height: 100%;
      float: right;
      margin-right: 0.5%;
}
.box
{
      text-align: center;
      display: inline-block;
      width: 100%;
      height: 50%;
      border: 2pt solid black;

      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
}
video
{
    width: 100%;
    height: 100%;
}

</style>
</html>

<!-- ! - html 기본 설정 단축키 -->
<!-- # - dev 단축키 -->